
DATABASE_URL = postgres://postgres:yourDatabasePassword@localhost:5432/prod_db
DEV_DATABASE_URL = postgres://postgres:yourDatabasePassword@localhost:5432/dev_db
TEST_DATABASE_URL =postgres://postgres:yourDatabasePassword@localhost:5432/test_db
JWT_KEY = secret
SENDGRID_API_KEY='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'
SENDGRID_EMAIL = "codejammers1@gmail.com"
