
DATABASE_URL = postgres://postgres:yourDatabasePassword@localhost:5432/prod_db
DEV_DATABASE_URL = postgres://postgres:yourDatabasePassword@localhost:5432/dev_db
TEST_DATABASE_URL =postgres://postgres:yourDatabasePassword@localhost:5432/test_db
