# dependencies
node_modules/
 
# environment variables
.env

# coverage dependencies
coverage/
.nyc_output/
# package-lock.json
package-lock.json

# history
.history

build/

// for facebook login
DEV_DATABASE_URL = postgres://gqdpjpbj:0-6ZGwch_xbo5C09-ROblV_G5Sz27q_O@lallah.db.elephantsql.com:5432/gqdpjpbj
FACEBOOK_CLIENT_ID = 723215311598159
FACEBOOK_CLIENT_SECRET = 5c6f878bf5163c5915c137feaf5c221e
FACEBOOK_CALLBACK_URL = http://localhost:3000/api/v1/auth/facebook/redirect
COOKIE_KEY = cookieKey
JWT_KEY = secret



