     <h1 style="margin-bottom: 0;">Hello {{name}}!</h1>
                <div style="margin-bottom: 25px;">
                  You requested to have your password reset here is the link 
        
                </div>
                <a
                  style="
                    background: #f64e3b;
                    color: #fff;
                    padding: 0.3rem 1.4rem;
                    cursor: pointer;
                    border-radius: 10px;
                  "
                  href="{{link}}"
                  >Reset password</a
                >